{% extends "account/base.html" %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">

      <h1 class=" text-center mb-4"> Customer Dashboard</h1>
     

      <!-- Change Password Button -->
       <div class="text-start">
        <a href="{% url 'customer:change_password'%}" class="btn btn-danger btn-lg ">
        Change Password
        </a>
       </div>
       <hr>
       <ul class="nav flex-column">
         {% if perms.product.view_product %}
        <li class="nav-item">
          <a class="btn btn-primary text-white mb-2" href="{% url 'product:product_list' %}">Product List</a>
        </li>
        {% endif %}
         {% if perms.product.add_product %}
        <li class="nav-item">
          <a class="btn btn-success text-white mb-2" href="{% url 'product:product_add' %}">Product Add</a>
        </li>
         {% endif %}
      </ul>
       </div>
  </div>
</div>
{% endblock content %}
