*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    background-color:aliceblue;
}
nav{
    background-color: #2c3e50;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
nav a{
    text-decoration: none;
    color: #ecf0f1;
    font-size: 16px;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}
nav a:hover{
    background-color: #1abc9c;
    color: #ffffff;
}

.main-heading{
    text-align: center;
    padding: 10px;
   font-size: 3 rem;
}

.center-container{
    display: flex;
    justify-content: center;
    
}
.container{
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100% ;

}
h1{
    margin-top: 0;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

form{
    margin-bottom: 20px;
}

form input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form button{
    background-color: #1abc9c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


form button:hover{
    background-color: #16a085;
}
.qr-preview{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}
.qr-preview h2{
    font-size: 20px;
    margin-top: 0px;
    color: #333;
}

.qr-preview img{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.download-button{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
}