<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr code project</title>
    <link rel="stylesheet" href="{% static 'my_qrscan/CSS/style.CSS' %}">
</head>
<body>

    <nav>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'generate_qr' %}">GenerateQr</a></li>
        <li><a href="{% url 'scan_qr' %}">Scanner</a></li>
        
    </nav>
    <h1 class="main-heading">GS Petrol Pump Payment</h1>
    {% block content %}
    {% endblock %}
    
</body>
</html>